body{
    background-color: #f3f4f6;
}
.abc{
    display: none;
    margin-left: 20%;
    margin-top: 20px;
   
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background: rgb(170, 141, 141);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
  }
  .close-btn {
    float: right;
    cursor: pointer;
  }


  .product-item{
    background-color: rgb(236, 233, 182);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 2px 4px rgba(70, 68, 68, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
  .product-image{
    width: 50%;
    height: auto;
    border-radius: 5px;
  }

  .cart-item{
    background-color: rgb(245, 243, 212);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(70, 68, 68, 0.1);
  
    display: grid;
    grid-template-columns: 2fr 1fr 1fr auto;
    align-items: center;
    gap: 10px;
  }

  .order-item{
    
    display: flex;
    justify-content: space-between;
    background-color: rgb(214, 248, 217);
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 2px 4px rgba(70, 68, 68, 0.1);

 
  }

  #map {
    height: 400px;
    margin-top: 15px;
  }


  .chat-container {
    width: 800px;
    height: 600px;
    margin: 40px auto;
    background-color: #e6ddda;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  .room-container {
    width: 400px;
    height: 600px;
    margin: 40px 10px;
    background-color: #e6ddda;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }


  .chat-body {
    height: 520px;
    overflow-y: auto;
    padding: 10px;
  }

  .message {
    max-width: 70%;
    border-radius: 10px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .sent {
    background-color: #c6e6eb;
    align-self: flex-end;
    margin-left: auto;

  }

  .received {
    background-color: #ffffff;
    align-self: flex-start;
    margin-right: auto;

  }

  .timestamp {
    font-size: 10px;
    color: gray;
    text-align: right;
    margin-top: 3px;
  }

  .chat-footer input {
    border-radius: 20px;
  }

